
body {
    background-color:#f1ede1 !important;
    width: 100vw; 
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: -1;
}
.bar{
    position: fixed;
    display: flex;
    flex-flow: row;
    background-color: black;
    width: 100vw;
    height: 60px;
    z-index:100;
}
.barword{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
/* .barword:hover{
    background-color: red;
    color: black;
    cursor: pointer;
} */
.barblank{
    flex-grow: 5;
}
.barword a{
    display: block;
    color: white;
    text-decoration:none !important;
    font-size: 20px;
}
.bar #history{
    margin-right: 30px;
}
.bar img{
    margin: 15px;
    width: 100px;
    height: 32px;
}
.blank {
    width: 100vw;
    height: 20vh;
}
.logo {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}
.input-parent{
    text-align: center;
    display: flex;
    align-items: center;
}
.stretch {
    width: 100vw;
    flex-grow: 5;
}
.search {
    width: 500px;
    height: 45px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    margin: auto;
}
.foot {
    color: black;
    font-size: 15px;
}
.input-btn {
    margin-left: -35px;
    cursor: pointer;
    z-index: 2;
    display:none;
}
input{
    padding-inline-end: 40px;
    padding-inline-start: 60px;
    display:none;
}
/* four pictures */
#img1 {
    align-items: center;
    width: 150px;
    height: 200px;
} 
#img2 {
    width: 300px;
    height: 100px;
}
#img3 {
    width: 80px;
    height: 30px;
    left: 0px;
    top: 20px;
    margin-left: 10px;
}
#img4 {
    height: 100px;
    width: 165px;
}
.next{
    height: 50px;
    width: 70px;
    position: absolute;
    left: 90vw;
    top: 50vh;
}
.logocolorful{
    position: absolute;
    left: 30px;
    top: 85vh;
}
.movingup_pic{
    position: absolute;
    width: 80vm;
    height: 332px;
    left: 231px;
    top: 370px;
    animation:movepic 1.6s;
	-webkit-animation:movepic 1.6s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}
.movingup_word{
    position: absolute;
    display: flex;
    width: 1200px;
    height: 96px;
    left: 140px;
    top: 249px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FF9E45;
    animation:moveword 1.6s;
	-webkit-animation:moveword 1.6s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}
.special{
    color:#63C4B4;
    font-weight: bold;
}
.year{
    font-family: Roboto;
    display: flex;
    position: absolute;
    font-size: 96px;
    letter-spacing: 0.5em;
    font-weight: bold;
    color: #f1ede1;
    top: 300px;
    animation:move 0.8s;
	-webkit-animation:move 0.8s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}
/* move year */
@keyframes move
{
	0%   {top: 300px;}
	25%  {top: 300px;}
	100% {top: 100px;color:#FF9E45}
}



@-webkit-keyframes move /* Safari and Chrome */
{
	0%   {top: 300px;}
	25%  {top: 300px;}
	100% {top: 100px;color:#FF9E45}
}


/* move picture */
@keyframes movepic
{
	0%   {opacity:0;}
	25%  {opacity:0;}
    50%  {opacity:0;}
    70%  {opacity:1;}
	100% {opacity:1;}
}



@-webkit-keyframes movepic /* Safari and Chrome */
{
	0%   {opacity:0;}
	25%  {opacity:0;}
    50%  {opacity:0;}
    70%  {opacity:1;}
	100% {opacity:1;}
}


/* move word */
@keyframes moveword
{
	0%   {opacity:0;}
	25%  {opacity:0;}
    50%  {opacity:0;}
    90%  {opacity:0;}
	100% {opacity:1;}
}



@-webkit-keyframes moveword /* Safari and Chrome */
{
	0%   {opacity:0;}
	25%  {opacity:0;}
    50%  {opacity:0;}
    90%  {opacity:0;}
	100% {opacity:1;}
}


