
body {
    background-color:#f1ede1 !important;
    width: 100vw; 
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: -1;
    background-image:url(../../static/jigsawbackground.svg);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bar{
    position: fixed;
    display: flex;
    flex-flow: row;
    background-color: black;
    width: 100vw;
    height: 60px;
    z-index: 5;
}
.barword{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
/* .barword:hover{
    background-color: red;
    color: black;
    cursor: pointer;
} */
.barblank{
    flex-grow: 5;
}
.barword a{
    display: block;
    color: white;
    text-decoration:none !important;
    font-size: 20px;
}
.bar #history{
    margin-right: 30px;
}
.bar img{
    margin: 15px;
    width: 100px;
    height: 32px;
}
.blank {
    width: 100vw;
    height: 10vh;
}
.hint{
    color: #63C4B4;
    margin-bottom: 30px;
}
.models {
    display: flex;
    margin-top: -10px;
    margin-bottom: -35px;
}
.bottom {
    display: flex;
    flex-flow: row;
    align-self: flex-start;
}
.stretch2 {
    width: 8vw;
}
#img1 {
    width: 180px;
    height: 200px;
    margin-top: -10px;
    margin-bottom: -10px;
} 
#img2{
    opacity: 0.9;
    cursor: pointer;
    margin:10px;
    transition: all 0.4s ease-in-out;
}
#img2:hover{
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.05);
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
#img3{
    opacity: 0.9;
    cursor: pointer;
    margin:10px;
    transition: all 0.4s ease-in-out;
}
#img3:hover{
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.05);
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
#img4{
    opacity: 0.9;
    cursor: pointer;
    margin:10px;
    transition: all 0.4s ease-in-out;
}
#img4:hover{
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.05);
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
#img5{
    opacity: 0.9;
    cursor: pointer;
    margin:10px;
    transition: all 0.4s ease-in-out;
}
#img5:hover{
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.05);
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
